<ion-content [fullscreen]="true">
  <body>
    <div class="container">
      <div class="left-panel">
        <ion-button
          fill="clear"
          color="light"
          class="back-icon"
          routerLink="/login"
        >
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
        <h2>Pembaruan Kata Sandi</h2>
        <p>
          Tautan pengaturan ulang kata sandi akan dikirimkan ke alamat email
          anda
        </p>
        <input type="email" placeholder="E-mail" />
        <button>Kirim</button>
      </div>
      <div class="image-section">
        <p class="welcome-text">
          Welcome to
          <span><img src="../../assets/icon/Logo ver.2.png" /></span>
        </p>
      </div>
    </div>
  </body>
</ion-content>
