<ion-content>
  <body>
    <div class="container">
      <!-- Left Section -->
      <div class="left-panel">
        <ion-icon class="checkmark" name="checkmark-circle"></ion-icon>
        <p>
          Tautan pembaruan kata sandi anda telah dikirimkan ke alamat email
          anda. Anda dapat membuat kata sandi baru dengan mengklik tautan yang
          dikirimkan
        </p>
        <a href="/login" class="login-button">Login</a>
      </div>

      <!-- Right Section -->
      <div class="image-section">
        <p class="welcome-text">
          Welcome to
          <span><img src="../../assets/icon/Logo ver.2.png" /></span>
        </p>
      </div>
    </div>
  </body>
</ion-content>
